body {
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333333;
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Hack', monospace;
  }
  
  .api-link {
    text-decoration: none;
    font-size: 20px;
  }
  
  .api-link:hover {
    text-decoration: underline;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Hack', monospace;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  
  label {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  input[type="url"] {
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;
    font-family: 'Hack', monospace;
  }
  
  button[type="submit"] {
    background-color: #ff69b4;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Hack', monospace;
  }
  
  #result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }
  
  #shorten-result {
    font-size: 20px;
    font-family: 'Hack', monospace;
  }